body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    width: 1183px;
    height: 700px;
    display: flex;
}
.image{
    width: 602px;
    height: 700px;
}
.right-container{
    width: 581px;
    height: 700px;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    text-align: left;
}
.logo{
    width: 270px;
    height: 202.5px;
    padding-left: 10px;
}
.Username{
    color: #003D61;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 134.182%;
    letter-spacing: 1.2px;
}
.text{
    width: 300px;
    height: 20px;
}
.Password{
    color: #94B7CD;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 134.182%;
    letter-spacing: 1.2px;
}
.paroli{
    width: 300px;
    height: 20px;
}
.email{
    color: var(--EF-education, #003D61);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 134.182%;
    letter-spacing: 1.2px;
}
.imeili{
    width: 300px;
    height: 20px;
}
.agree{
    text-align: center;
    margin-top: 30px;
}
.check{
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(35, 61, 78, 0.83);
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
}
.Iagree,.and{
    color: #003d61;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
}
.link{
    color: #ed2980;
    text-decoration: underline;
}
.haveaccount{
    color: var(--EF-education, #003D61);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.icons{
    display: flex;
    justify-content: center;
}
.google,.apple,.telegram{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: #fbfbfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    margin-right: 50px;
    margin-top: 20px;
}
@media (max-width: 1024px) {


.second-container {
    display: block;
    text-align: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    margin: 70px; 
    width: 400px;
    height: 400px;
}
.image-2{
    width: 400px;
    height: 400px;
}
.logo-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
.logo {
    width: 204px;
    height: 154px;
    display: block;
    margin: 0 auto;
}
.text-container {
    text-align: left;
}
.Username {
    color: #b8b8b8;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    line-height: 38.9px;
    letter-spacing: 0.17px;
    text-align: left;
}
.email {
    color: #003d61;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
}
.Password{
    color: #b8b8b8;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    line-height: 38.9px;
    letter-spacing: 0.17px;
    text-align: left;
}
.circle{
    width: 100px;
    height: 10px;
}
.link{
    color: #ed2980;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-decoration: underline;
    line-height: 38.9px;
    letter-spacing: 0.17px;
}
.icons{
    display: flex;
    justify-content: center;
}
.google,.apple,.telegram{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: #fbfbfb;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    margin-right: 50px;
}
.button{
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #003d61;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}
.login{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}
.signup{
    color: #828282;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 18px;
}
.link{
    color: #ed2980;
    text-decoration: underline;
}

.main-container,.second-container{
    margin: 70px;
    padding-right: 200px;
}
}